{% extends  'includes/base.html' %}
{% block content %}
{% load static %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>About Us</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/slide/Company.jpg'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">

            <!--ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul-->
            <p class="fst-italic">
            R.D. Institute of systematic learning, is a professional software development, web development,mobile application,social media etc
              company in Varanasi, India. We, at R.D. Institute of systematic learning make you all clear about
              technology by providing collective "information in a RDISL", to fullfil the name "R.D. Institute of systematic learning" RDISL
              offers website design,
              custom webpage design, e-commerce and customised Software solution, mobile application development,corporate voice/sms
              solution.</p><p> Our development team forms a deep rooted base to our company in terms of our experience in handling numerous
              software projects in various industries, also we at R.D. Institute of systematic learning have a well skilled team to deal
              and cater
              the Web-Hosting and Email hosting needs to provide integrated solutions, meaning from domain registration to
              software solutions.
            </p>

          </div>
        </div>

<br><br>
        <div class="row content"  style="margin-top:22px;">
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" style="margin-top:22px;">

            <!--ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul-->
            <p class="fst-italic">
            R. D. INSTITUTE OF SYSTEMATIC LEARNING (established 2006) by a set of professionals from the field of education with
              the aim to help all the stakeholders in the field of education (schools, under graduate and post graduate technical
              and non technical institutions) namely the students, the institutions and their ultimate buyers namely the
              employers to come together where the skills of the students developed by the institutions can be enhanced to a
              level that it meets the minimum expectations of the employers.R. D. INSTITUTE OF SYSTEMATIC LEARNING (established 2006)
              by a set of professionals from the field of education with the aim to help all the stakeholders in the field of education
              (schools, under graduate and post graduate technical and non technical institutions) namely the students, the institutions
              and their ultimate buyers namely the employers to come together where the skills of the students developed by the institutions
              can be enhanced to a level that it meets the minimum expectations of the employers.</p>
            <p> Initially R. D. INSTITUTE OF SYSTEMATIC LEARNING was known as quality training provider offering Total Training Solution to
              the students of Engineering & Management colleges to remove their employment related obstacles by a process of training by trained
              trainers and perfectly customized training modules with a perfect training methodology based on psychological and scientific
              approach of adult learning principles.
            </p>

          </div>
          <div class="col-lg-6" data-aos="fade-right" style="margin-top:22px;">

           <img src="{% static 'assets/img/mission.jpg'%}" class="img-fluid" alt="mission">
          </div>

        </div>

        <br><br>

       <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/vision-1.png'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">

            <!--ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul-->
            <p class="fst-italic">
            R. D. INSTITUTE OF SYSTEMATIC LEARNING has taken up the challenge to have the professional expertise, in-depth knowledge of how to measure the gap, convey to the students and the institutions the size of the actual gap as well as to help the students and the institutions to fill this gap for both technical and non technical areas. It also has developed the professional expertise to help employers to access more students in more locations by using either R. D. INSTITUTE OF SYSTEMATIC LEARNING assessed students database for the purpose of fresher recruitments or assess more students in more institutions for the purpose of fresher recruitments without actually visiting these locations utilizing infrastructure and facilities of R. D. INSTITUTE OF SYSTEMATIC LEARNING, This helps the recruiters to increase the talent pool from which they do fresher recruitment and reduce the cost of this activity.
</p><p>
R.D. Institute of Systematic Learning has also extended the availability of its features and expertise to the students appearing in the online recruitment test of organizations like Banks, Staff Selection Commission (SSC), Railways etc. In this effort RDISL has updated its question bank and has added unique features to its online test portal which will certainly be highly beneficial for those aspiring to join such organizations. RDISL has opened its first class room tutorial at Varanasi and has plan to open a chain of its centres at other cities also where the perfectly trained trainers of RDISL will be deployed to equip students with proper concepts of the core areas of the quantitative and reasoning aptitude which in turn willthe students competent to apply the basic concepts of the core areas of reasoning and quantitative aptitude to approach and solve the critical and complex questions asked in such examinations

            </p>

          </div>
        </div>



      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Team</strong></h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-1.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-2.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-3.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-4.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-1.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-2.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-3.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-4.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-5.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-6.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-7.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-8.png'%}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}