{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Bulk SMS Service</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Bulk SMS Service</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Bulk SMS Service</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/Bulk-SMS.jpg'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
            <p style="text-align:justify;">The time has gone when mobile were just used for communication purpose. Now-a-days, Mobile or
              a smart phone is used for various activities like checking emails, shopping cool stuffs, stay in touch with friends through
              internet chatting, sending or forwarding cool stuffs and so on. Thus Mobile has become a great source of spreading information.
              The number of mobile &amp; smartphone users is increasing day by day. This gives a strong boost for mobile marketing.</p>
              <p class="text-justify">Sending Bulk SMS or SMS Marketing has become a great marketing source in today&#8217;s marketing
                  strategies.





          </p>

          <a href="#" class="btn btn-warning" role="button">

<span class="elementor-button-text">Get a Quote</span>

</a>
          </div>

            <div class="col-lg-12" style="margin-top:22px;">
                <p>
                As number of mobile users is increasing many mobile companies started providing various features with their mobile phones such as,
              Internet, free chatting, text forwarding, video calling, File sharing, and so on making mobile phone a necessity for the youths.
              This is why mobile marketing or SMS Marketing is great source to get in touch with people or your audience.</p>
              <p class="text-justify">Through Bulk SMS Marketing you can directly reach out to many customers with a single click.
                  Comparing to other marketing strategies and platforms, mobile marketing gets a quick response and feedback to your
                  offers. Many people used to forward the interesting SMS to their groups as it is and this the way your SMS can be get
                  spread within their group and so on. Due to the Fast response rate of SMS Marketing, many companies and organizations
                  are tend to opt Bulk SMS facility to send their latest offers or news to their customers.</p>
              <p class="text-justify">Bulk sms is widely used in almost every sectors and it is the cheapest and fastest way to provide
                  information to your customers. It is used in Schools or colleges to provide information about the special class, exam
                  time, results, or any other news to many students or a batch at once. Bulk SMS can be used by a Retail store to inform
                  about their latest discount offers, seasonal offers to all their customers. Bulk SMS is also a great source for many
                  sectors and industries like, travel companies, school colleges, retail stores, hotels, government offices, corporate,
                  banks, insurance companies, finance companies, and so on&#8230;</p><p class="text-justify">R. D. INSTITUTE OF SYSTEMATIC
                LEARNING is leading Bulk SMS providers in India. With R. D. INSTITUTE OF SYSTEMATIC LEARNING, sending Bulk SMS or SMS Marketing
                is not a critical task.
              You can set up your Bulk SMS portal within few minutes or few clicks. We provide the easiest way for sending bulk SMS throughout
              India, helping you to reach out many customers at a time.</p>
                <img src="{% static 'assets/img/bulk-sms-banner-zewebmedia.jpg' %}" alt="sms" class="img-fluid">
            </div>

</div>
      </div>
    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>There are Three Major SMS Types.</h2>
        </div>

        <div class="faq-list">
            <h3>Transactional SMS</h3>
        <p class="text-justify">Transactional SMS is the SMS providing information about the status or alert messages. Promotional languages or messages are strictly not allowed in Transactional SMS is kind of message having only information sent by a company or organization to its customers or agents about current status of their transactions. Transactional SMS has no time limit and can be sent or delivered at any time around the clock.</p>
<img src="{% static 'assets/img/Bulk-SMS-Marketing.jpg' %}" alt="seo" class="img-fluid" style="margin-top:12px;">



         </p>

            <div class="elementor-widget-container">

<h2 style="text-align:center; margin-top:12px;">Few examples of Transactional SMS</h2> </div>
<div class="elementor-element elementor-element-2c44746 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2c44746" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Dear Customer, Your parcel, Tracking id XXX-abcd0010 is out for delivery.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">The package will be delivered at your address by 4:00 PM today.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Your Salary has been credited to your Account No. XXXX-100-200-XXX</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Your Tickets are confirmed. Please collect it from our branch office</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Transactional SMS strictly not allowed any kind of promotional message.</span>
</li>

</ul>
</div>





</div>


<!--------------------Promotional SMS---------------------->
 <div class="elementor-widget-container">

<h2 style="text-align:center; margin-top:12px;">Promotional SMS</h2> </div>

            <div class="row"><div class="col-sm-12">
                <p class="text-justify">Promotional SMS can have promotional language or message and you can promote your business, offer or advertise your product. This is the kind of SMS sent by a organization, business owner or company to anyone from your contact list. Regardless, whether the contact person is your existing customer or not. Promotional SMS has a time limit and can be send or delivered from 9AM to 9PM only including holidays.</p>
                <p>Some example of Promotional SMS</p><br>
            </div> </div>

<div class="elementor-element elementor-element-2c44746 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2c44746" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Recharge of Rs. 80 today and get talktime of Rs. 90. Limited time offer</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Book a car on or before 25th Dec. and get 1grm Gold Coin FREE. Many other exiting offers. Contact us Now</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Buy one get one Free offer. Hurry up offer valid till stock remains. Visit www.yourwebsite.com</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Transactional SMS strictly not allowed any kind of promotional message.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<img src="{% static 'assets/img/im.png' %}" alt="im" class="img-fluid" style="width:30px;height:30px"> </span>
<span class="elementor-icon-list-text">Transactional SMS strictly not allowed any kind of promotional message.</span>
</li>

</ul>
</div>





</div>




        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online software development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking Software Development</li><li>RD, FD, MIS Software Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}