{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Computer Base Examination</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Computer Base Examination</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
        <h2>How to attempt Computer Based Online Exam (CBE)</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/cbe-update.jpg'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
             Most exams are nowadays  attempted on a computer instead of writing it on paper. Such an exam which is  attempted on a computer is called a computer-based exam, sometimes abbreviated  CBE. A computer-based exam is attempted on a computer at home or in its designated  area within an educational institution. Most of these exams are online exam,  however, sometimes they can also be pre-downloaded exam stored at a computer.</p>
      <p>Unlike conventional  paper-based exam, computer-based exams have made the exam process very easy for  students. However, some students may find it difficult to attempt an exam on a  computer because they may not be much familiar with the use of the computer.  Similarly, as paper-based exams have been in practice for long, the  computer-based exam may not give some students that psychological sense of exam  which makes them take the exam seriously like a normal exam and thus, perform well  with that psychological sense of exam.</p>
      <p>However, as the world is modernizing  day by day and also due to the current pandemic, computer-based online exams are  gaining wide popularity. Therefore, every student should be able to attempt the  computer-based exam. If you are new to the computer-based exam, you should know  how it works and be prepared for it before attempting the real exam. There are  some important points which will help in understanding how to attempt computer-based  exam and score well, as follows:</p><div>

          <a href="#" class="btn btn-warning" role="button">

<span class="elementor-button-text">Get a Quote</span>

</a>
          </div>

</div>
      </div>
    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
           <h2>Guidelines for attempting  Computer-based Exam  (CBE)      </h2>
        </div>

        <div class="faq-list">
         <ol>
        <li><span dir="ltr"> </span><span style="font-size:15px"><strong>How and where to start:</strong> There are three ways to start the  CBE exam: 1) you are sent an online link, 2) you have made an account on the  exam portal, and 3) The test is stored on a computer. To start the exam, you have  to click on the link or open your exam account or click on the ICON for the exam  that is stored on the computer.</span></li>
        <li><span dir="ltr"> </span></span><span style="font-size:15px"><strong>The first page of the exam:</strong> When you open your exam, the  first page appears. This page asks you to enter your login details (e.g. username  and password) which you to enter using the keyboard. </span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px"><strong>The next page</strong> is where you enter your exam-related details  such as student ID and exam ID. Moreover, you to choose from some options such  as the name of the test or the name of the subject. This information is known  to you before the exam, the purpose of entering them here is to make sure you  are going to attempt the correct exam. </span>  </li>
        <li><span dir="ltr"> </span><span style="font-size:15px">Remember, each page has two common buttons: <strong>BACK</strong> and <strong>NEXT</strong>.  When you complete one page you can move to the next page by clicking on NEXT.  Similarly, if you believe you have skipped something on the previous page, and  you want to go back to that page, you can do so by clicking on BACK.</span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">When you enter your details and finish the page, click on NEXT  to go to the next page.</span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">The next page opens. It gives you all the instructions about the  exam such as the time allowed for the exam, sections of the exam, types of  questions in the exam and how to attempt them. Read these instructions  carefully. At the end of this page, you will see the button <strong>START EXAM</strong>. When  you are ready to start the exam, simply click on the button START EXAM.</span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px"><strong>As you click on START EXAM, a new page opens.</strong> This is the  first page of your exam. Remember, from this page, your exam time starts. On  the corner of the screen, you will see a clock or timer showing you the  remaining time of exam throughout your exam.</span></span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">Now each page you move on will have a certain number of  questions. On each page, you may see a button <strong>SAVE AND CONTINUE</strong> in a few  tests (not all tests)<strong>. </strong>This means when you complete the answers on that  page and you want to save your answers, you have to click on this button. This  is very important to understand. If you simply keep clicking the NEXT button  without saving your answers, you may move to the next page, but the answers are  not getting saved. However, do consider this point if this button is given  there because most tests store your answers automatically when you click on  NEXT to move to the next page. </span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">Most computer-based exams have only short Multiple-Choice  Questions (MCQs). Some tests have long descriptive questions. Some test may  also have a combination of both MCQs and long questions.</span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">Each MCQ has four or five options. Each option has a small tickable  circle or box. The student has to tick the circle or box for the correct option  using the mouse of the computer. When an option is ticked, the circle or the  box will show a tick mark (✓)  which confirms that you selected it. In some tests, the box or circle is filled  with black color when they are ticked, which also means that the option has  been selected.</span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">Most MCQs have tickable options but in some tests, they may also  give a question with a small space where the student has to write one or two  words answer using the keyboard.</span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">In the case of long descriptive questions, a large empty box is  given after each question. Using the mouse and keyboard, the student has to  write a detailed (having several paragraphs) explanatory answer in that box. There  is also a small text editor with the box so that the student can change the  font size and style if they want.</span></li>
        <li><span dir="ltr"> </span><span style="font-size:15px">Remember, you can go to any page (back or next) until you have finally  submitted the test. You can use the BACK and NEXT button if you want to go back  to some page to attempt an attempted question or to edit any of your answers. There  is also a small box on a side of each page which, when clicked, opens to show  the numbers of the pages. From this list, you can straight select any page you  want to go to directly. This list of pages also shows the pages where question  have been left un-attempted. For any page with an un-attempted question, its  number shows an asterisk symbol (*).</span> </li>
        <li><span dir="ltr"> </span></span><span style="font-size:15px">Remember, the above point is very important. It is better to first  attempt all these questions which you can easily attempt. If you don&rsquo;t know the  answer of a question, do not stick to it wasting all the time on it. Skip it for  now and move to the next question. You can come back to the un-attempted  questions once you have attempted all the easy questions. </span></li>
        <li><span dir="ltr"> </span></span><span style="font-size:15px">When you complete all parts of your test and want to finish the  test, go to the last page. At the bottom of the last page, you will see a  button such as <strong>FINISH </strong>or <strong>SUBMIT THE TEST</strong>. When you click it, your  test is finished.</span></li>
        <li><span dir="ltr"> </span></span><span style="font-size:15px">Remember. a few online MCQs tests may display your result right  after you click on FINISH. However, most tests (particularly when they have  long questions to be assessed by a human) results are sent to your email a few  days after the test is attempted. <strong>Best of luck!</strong>  </span>    </li>
      </ol>



        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online software development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking Software Development</li><li>RD, FD, MIS Software Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}