{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Content Management Systems</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Content Management Systems</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Content Management Systems</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/cms.jpg'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">




         <p class="text-justify">CMS stands for Content Management System. The term CMS Can be simplify to understand as a
              Software Application specifically designed to publish, organize, edit and maintain the content, website or application easily.
              Using Content Management System you can easily manage the application or website by your own, without having any special
              technical skills.</p><p class="text-justify">CMS is introduced in late 1990s and since then it is widely used mainly to
              develop websites, web applications, blogs, news portal, magazines, and shopping sites. Many corporate sectors as well
              as big brands use CMS to develop their system.</p>



          <a href="#" class="btn btn-warning" role="button">

<span class="elementor-button-text">Get a Quote</span>

</a>
          </div>



</div>
      </div>
    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">



        <div class="faq-list">
            <h3><p>There are many advantages of using Content Management System (CMS). Some of them are as follows:</p></h3>



<div class="elementor-element elementor-element-2c44746 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2c44746" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default" style="color:green">Cost effective and affordability</h4> </div>
</div>
<div class="elementor-text-editor elementor-clearfix"><p>Some famous and widely used content management systems like Wordress, Joomla, Drupal are freely available to install, and others are subscription based at affordable cost. You just need to pay for customizing and integration the application on your system. As it is easy to maintain the application or website developed using CMS, you can also save on hiring a developer for maintaining and doing regular updates, by doing it at your own.</p></div>
</div>


  <div class="faq-list">




<div class="elementor-element elementor-element-2c44746 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2c44746" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container"><br>
<h4 class="elementor-heading-title elementor-size-default" style="color:green">Easy customization</h4> </div>
</div>
<div class="elementor-text-editor elementor-clearfix">

<p>Major Content Management Systems follows universal standards for layout and functionality. CMS designs and tools are developed on less code and more GUI basis. It provides much ease for user to handle the application at frontend as well as backend.</p>
  </div>
   </div>

            <div class="faq-list">





<div class="elementor-element elementor-element-2c44746 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2c44746" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container"><br>
<h4 class="elementor-heading-title elementor-size-default" style="color:green">No need of special technical skills</h4> </div>
</div>
<div class="elementor-text-editor elementor-clearfix"><p>Content Management Systems are designed and developed with less complexity, codes and more GUI. Thus, CMS provide an easy and batter experience for everyone, even without having special or additional technical skills. You need not to provide special technical training or hire a new staff to handle the application or websites developed using CMS. With a little training, you or your staff could manage, add, edit the application easily.</p>
</div>

</div>


<!--------------------Promotional SMS---------------------->









    </section><!-- End Frequently Asked Questions Section -->



    <!-- ======= We are Expert in ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online software development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking Software Development</li><li>RD, FD, MIS Software Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}