{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Online Examination- Entrance Exam</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Entrance Exam</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <style type="text/css">.fusion-title.fusion-title-7 svg path{stroke-width:4!important}</style><div class="fusion-title title fusion-title-7 fusion-sep-none fusion-title-center fusion-title-highlight fusion-loop-off fusion-highlight-curly fusion-title-size-one" style="font-size:32px;margin-top:0px;margin-bottom:31px;" data-highlight="curly"><h1 class="title-heading-center" style="margin:0;font-size:1em;"><span class="fusion-highlighted-text-prefix">Entrance Exam Process:</span> <span class="fusion-highlighted-text-wrapper"><span class="fusion-highlighted-text" style="color:#5a0192;">Conduct An Entrance Exam</span></span> <span class="fusion-highlighted-text-postfix"></span></h1></div>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/Online-Entrance-Examination-Management.png'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
            Entrance Exams are conducted by many educational institutions to select students for admissions
                into a particular stream, class or honor. Capability of students in various fields is evaluated
                through these entrance exams. These exams which are very competitive in nature teach students
                to deal with competition they are about to face in their future. In India, entrance exams for
                various national level and state level entrance exams are conducted for admissions into
                various streams like management, medical, engineering, law, finance & accounts, hospitality,
                arts & design, government services, information and technology etc. Students who crack these
                exams are selected in the top colleges. We provide you with detailed information about each
                exam in India which includes general information about the exam, eligibility criteria, important
                dates, syllabus, preparation tips and much more.</p>

          </div>


          </div>

</div>


    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Type of Entrance Exams in India</h2>
            <p>Chiefly, entrance exams can be divided into 3 broad categories, which are:

</p>
        </div>

        <div class="faq-list">
       <ul>
           <li>National Level Entrance Exams / All India Level Entrance Exams.</li>
 <li>State Level Entrance Exams.</li>
 <li>University / Institute Level Entrance Exam.</li>
           <li><b>National Level Entrance Exams / All India Level Entrance Exams</b> – These are those examination, which are conducted throughout the nation and candidates from all over India can apply for it. The score of the exam is considered by colleges / universities / institute throughout the nation. Some of such exams with the name of the conducting body are as follows:
           <table class="table table-bordered table-hover table-info table-striped">
               <thead>
               <th>Exam Name</th>
               <th>Conducting Body</th>
               </thead>
               <tbody>
               <tr>
                   <td>NEET</td><td>NTA</td>  </tr>
                      <tr><td>JEE Main</td><td>NTA</td>  </tr>
                     <tr> <td>CAT</td><td>IIMs</td>  </tr>
                    <tr>  <td>CLAT</td><td>NLUs</td>  </tr>
                    <tr>  <td>GATE</td><td>IITs</td>  </tr>

               </tbody>
           </table>

           </li>

           <li><b>State Level Entrance Exams</b> – These are those exams, which are held throughout the state and qualifying candidates only gets admission in the colleges / universities / institutes which are in that state. Usually, for these examination, only domicile of that state can apply. However, eligibility criteria differs for each exam. Some of such exams with the name of the state are as follows:


           <table class="table table-bordered table-hover table-info table-striped">
               <thead>
               <th>Exam Name</th>
               <th>State</th>
               </thead>
               <tbody>
               <tr>
                   <td>WBJEE</td><td>West Bengal</td>  </tr>
                      <tr><td>UPSEE</td><td>Uttar Pradesh</td>  </tr>
                     <tr> <td>MHT CET</td><td>Maharashtra</td>  </tr>
                    <tr>  <td>Rajasthan JET</td><td>Rajasthan</td>  </tr>
                    <tr>  <td>KCET</td><td>Karnataka</td>  </tr>

               </tbody>
           </table>

           </li>

             <li><b>University / Institute Level Entrance Exam </b>– These exams are also held at all India level. However, the difference is that the score of these exams is usually considered by only one or few colleges / universities / institute for admission. Some of such exams with the name of the conducting body are as follows:
           <table class="table table-bordered table-hover table-info table-striped">
               <thead>
               <th>Exam Name</th>
               <th>College / University / Institute</th>
               </thead>
               <tbody>
               <tr>
                   <td>VITEEE</td><td>Vellore Institute if Technology</td>  </tr>
                      <tr><td>BITSAT</td><td>BITS Pilani</td>  </tr>
                     <tr> <td>CUSAT</td><td>Cochin University of Science and Technology</td>  </tr>
                    <tr>  <td>XAT</td><td>Xavier School of Management (XLRI)</td>  </tr>
                    <tr>  <td>LPU NEST</td><td>Lovely Professional University</td>  </tr>

               </tbody>
           </table>

           </li>
           <li>
               <h5>Mode of Entrance Exam  in India</h5>
               <p>Earlier, the entrance exams were held on pen and paper but as the technology advanced, the mode of examination changed. Few of the following popular modes in which the exams are held are as follows:</p>
               <p><b>Offline Mode </b>– This is the traditional pen and paper format, in which candidates have to write answer on a paper or OMR sheet.</p>
               <p><b>CBT Mode</b> – Compute based test mode is the most popular mode of entrance exams right now. Here, the candidates have to attempt the exam on a computer and mark answers with the help of a mouse. In some of the exams, candidates even get virtual calculate as well.
</p><p>
               <b>Online Mode</b> – Even in online mode the candidates take the exam via computer. However, the only difference is that candidates can take the exam form anywhere and are not restricted to go to a particular center. To take these types of exam, candidates just need to have a computer, good internet connection, and a webcam.</p>

           </li>

           <li>
               <h5>Management Entrance Examinations in India
</h5>

    <p>AIMS Test for Management Admission (ATMA)</p>
    <p>Admission test for commonwealth Executive MBA & MPA Programme(CEMAT)</p>
    <p>Common Admission Test (CAT)</p>
      <p>ICFAI Business School Aptitude test (IBSAT)</p>
    <p>Indian institute of Foreign Trade (IIFT) MBA Admission Test</p>
      <p>Integrated Common Entrance Test (ICET)</p>
    <p>Joint Management Entrance Test (JMET)</p>
      <p>Karnataka Management Aptitude Test (K-MAT)</p>
    <p>Management Aptitude Test (MAT)</p>
      <p>National Aptitude Test (NAT)</p>
    <p>Open Management Admission Test (OPENMAT) – Indira Gandhi National Open University  (IGNOU)</p>


           </li>
       </ul>

           <hr>

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online  development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking  Development</li><li>RD, FD, MIS  Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}