{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Online Examination- Exam-base platform</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Online Exam</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <style type="text/css">.fusion-title.fusion-title-7 svg path{stroke-width:4!important}</style><div class="fusion-title title fusion-title-7 fusion-sep-none fusion-title-center fusion-title-highlight fusion-loop-off fusion-highlight-curly fusion-title-size-one" style="font-size:32px;margin-top:0px;margin-bottom:31px;" data-highlight="curly"><h1 class="title-heading-center" style="margin:0;font-size:1em;"><span class="fusion-highlighted-text-prefix">Online Examination:</span> <span class="fusion-highlighted-text-wrapper"><span class="fusion-highlighted-text" style="color:#5a0192;">Conduct An Online Exam</span></span> <span class="fusion-highlighted-text-postfix"></span></h1></div>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/illustration_Online-Examination-Platform-1.png'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
         <div class="fusion-text"><p><b>Online Examination platform</b><span style="font-weight: 400;"> is the best solution for every educational centre to adapt. Conduct Exam is an innovative online exam system or robust Online Test Examination platform that includes a large </span><span style="font-weight: 400;">combo of Examination platform applications for web-based Examination platform, offline exam,</span> <span style="font-weight: 400;">computer-based test, centre-based exam, online assessment software, and many more. Our online Examination platform provides a protected and stable stage for examiners to make and arrange various types of tests/exams for <a href="#" target="_blank" rel="noopener noreferrer">Educational/Coaching Institutions</a>, Corporate, Government, coaching centers, and other leading organizations.</span></p>







          </div>

</div>
      </div>
            <div class="row mt-5">
                  <div class="col-sm-12">
                      <p><span style="font-weight: 400;">Conduct Exam helps the examiner to conduct a complete online examination without squandering any assets. Our team of experienced Examination platform engineers has built up this best online Examination platform for different educational institutes. Most associations these days are conducting their exams through online exam software. Associations can improve the performance of the candidates with instant results. To get online Examination platform demo, kindly contact us today!</span></p>
<p>Conduct Exam is a web-based online Examination platform that provides web applications or mobile applications through which admin can create different types of tests. Our online Examination platform supports multiple languages so that one can create various tests in any preferable languages like English, Hindi, etc. Admin can also upload study materials in different formats like video, images, text, graphs, equations.</p>
<p><span style="font-weight: 400;"><strong>O</strong></span><b>nline examination system</b><span style="font-weight: 400;"> gateway is a stage toward modernization. It will decrease your expenses and increase benefits. Conduct Exam always attempts to offer the best online Examination platform to you.</span></p>


                         <a href="#" class="btn btn-warning" role="button">

<span class="elementor-button-text">Get a Quote</span>

</a>
                  </div>
              </div>
    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Conduct Online Exams On Our Platform With Ease At An Unmatched Scale</h2>
        </div>

        <div class="faq-list">
        <div class="row">
           <div class="col-sm-4">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jmtj__6TTZM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6"> <p class="fst-italic" style="text-align:justify; float:right; padding:23px; 23px;">RDISL | R.D. Institute of systematic learning, Examination Platform is used worldwide due to its robust technology and experience in conducting successful large-scale online examinations. The online examination portal comes pre-embedded with R.D. Institute of systematic learning, | R.D. Institute of systematic learning, state-of-the-art proctoring technology and digital evaluation system.</p>
      </div>
        </div>

           <hr>

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online  development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking  Development</li><li>RD, FD, MIS  Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}