{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Online Certification Platform</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Online Certification Platform</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Online Certificate</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/5HowtomakeacertificateCanva.24729751.avif'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
            Give people the recognition they deserve with a professionally-designed certificate from Canva. Whether you’re awarding an employee for their loyalty and service or acknowledging a speaker who has imparted their expertise during a talk, give them a beautifully designed certificate to remember.
<p>
With Canva’s wide selection of templates and easy-to-use drag and drop certificate generator, you can come up with the certificate you need in minutes, no design experience needed! Add high-quality images and illustrations, choose from over a hundred fonts and customize colors in a few clicks.</p></div>
</div>
        </div>





      </div>
    </section><!-- End About Us Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Advanced Certification Software with Excellent Security & Proctoring Features</h2>
            <p>Ensure Seamless & Secure High-Stakes Certification Programs</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Manage End-to-End Certification Programs<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p  style="padding:4px 41px;">

                                  on Our Platform
                            </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Ensure Complete Cheating Prevention <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p style="padding:4px 41px;">
           Using Our AI-Based Proctoring
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
             <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Easily Build Your Own Certification Tests <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p style="padding:4px 41px;">
             Using Our 100,000+ Pre-Built Questions
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Customize Assessments <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p style="padding:4px 41px;">
           According to Your Unique Requirements
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
           <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Ensure High-Class Security Standards <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p style="padding:4px 41px;">
                Using Our Suite of Security Features
                </p>
              </div>
            </li>

             <li data-aos="fade-up" data-aos-delay="500" >

            <i class="ri-check-double-line icon-help"></i>
             <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed" >Get Detailed Insightful Reports <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>

      <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p style="padding:4px 41px;">
                With intuitive data representation
                </p>
              </div>



            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Find opportunities right for you</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/responsive-web-design-960x640-1-768x512.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">Our website plans starts at just Rs.10,000/-</h5>
               <div class="elementor-text-editor elementor-clearfix"><p>We always welcome start ups and we offer great discounts to new entrepreneurs. Call us now for surprising offers.</p></div>

          <a href="" class="btn btn-warning">Call us Now</a>
           </div>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}