{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Recruitment Exam</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Recruitment Exam</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Recruitment Exam</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/RecruitmentInfographic.jpg'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
              Recruitment is what organizations do to find and take on new members. Armies do it when they enlist soldiers and employers when they hire new staff. Clubs also do it when they wish to increase their membership.
        </p>
              <p style="text-align:justify;">
                  Employee recruiting is the activity of identifying and soliciting individuals—either from within or outside an organization—to fill job vacancies or staff for growth. Recruitment is a key role for human resource professionals, as because new talent is essential for an organization to meet its goals and to succeed in a rapidly changing marketplace.
</p><p>
This article discusses fundamental concepts that apply to both internal and external recruiting. It highlights a wide variety of external recruiting techniques that employers can apply to meet their particular needs. The article also references federal and state laws that impact affect the recruiting function.
              </p>

          <a href="#" class="btn btn-warning" role="button">

<span class="elementor-button-text">Get a Quote</span>

</a>
          </div>

</div>
      </div>
    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What Is Recruitment Marketing?</h2>
        </div>

        <div class="faq-list">
            <div class="container-fluid"><div class="row">
                <div class="col-sm-5"> <img src="{% static 'assets/img/funnel-recruitment-marketing-examples@2x.png' %}" alt="seo" class="img-fluid" style="margin-top:12px;">



        </div>
                <div class="col-sm-7"><p>
           Recruitment strategies are different ways to attract prospective team members. These strategies can help attract a broader range of people. If you work in human resources (HR) or recruiting, you may find learning different recruitment strategies beneficial. In this article, we look at a few examples of recruitment strategies and discuss their effectiveness.
 </p></div>
            </div> </div>


            <div class="elementor-widget-container">
<h2 style="text-align:center; margin-top:12px;">The recruitment process</h2> </div>
<div class="elementor-element elementor-element-2c44746 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2c44746" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item"><p>Recruitment is how businesses find and hire workers. The process follows a series of steps that typically starts with identifying the vacancy. It ends when the new starter is settled in their new job, having received support to do so. The following sections summarize the key stages.</p>
</li>
 <li class="elementor-icon-list-item"> <h3>Identify the vacancy</h3>
<p>How did the vacancy arise? For example, did it arise because someone has left or is it a result of business expansion or reorganization? The second type may be harder to identify if it has led to the creation of new roles in the enterprise.</p>
 </li><li class="elementor-icon-list-item"><h3>Conduct a job analysis</h3>
<p>What skills does the job require? What are its tasks and duties?</p>
<p>The analysis considers the context as well as the content of the job. How does it fit into the organization?</p>
<p>Sometimes the job analysis can reveal an opportunity to reorganize. Is there a clear need to take on someone new or does it make more sense to absorb the tasks into other jobs?</p>
<p>Much of the information gathered in this step will help in the next step.</p>
</li><li class="elementor-icon-list-item"><h3>Draft a job description and person specification</h3>
<p>The job description itemizes the main duties and tasks of the role. It also describes the work location and reporting structure.</p>
<p>How does the role relate to other jobs in this part of the organization? What are the hours, pay, and work conditions?</p>
<p>The person specification identifies the skills, qualifications, knowledge, and experience that the job demands. It may also identify particular personal attributes &#8211; such as self-motivation &#8211; that are required for the role. It can be useful to identify which of these qualities are essential (must have) and which are desirable (nice to have).</p>
<p>These two documents give a feel for how the job fits into the business and what it takes to succeed in the role.</p>
</li><li class="elementor-icon-list-item"><h3>Consider and devise the assessment methods</h3>
<p>In some cases, all that will be necessary to identify the most suitable candidates is to invite them to complete a pre-employment assessment application form and attend an interview. This will further increase your chances of hiring the right person for the job.</p>
<p>Many companies, however, use additional methods to assess applicants during recruitment. These can include the use of aptitude and personality tests and assessment centers.</p>
<p>When hiring, it is clearly important to find the best person for the role. However, whatever methods you use to attract and assess candidates, you should check that they are within the law on discrimination.</p>
<p>Discrimination law is different in different countries. For instance, in the United Kingdom, it isusually illegalto discriminate against job applicants on the grounds of race, age, disability, religion, sex, sexual orientation, and other &#8220;protected characteristics.&#8221;</p>
</li><li class="elementor-icon-list-item"><h3>Advertise the post</h3>
<p>This stage of recruitment involves more than just wording a good advertisement. For example, the location of the advertisement could be important.</p>
<p>For some jobs, such as shop assistant or bartender, a sign in the shop window that says &#8220;staff wanted&#8221; may be the most effective way to attract likely candidates.</p>
<p>In contrast, if you are looking for a laser test engineer, you may need to post the vacancy in a niche place such as a trade magazine or online job site.</p>
<p>If recruiting from within the organization, then likely choices include the company&#8217;s intranet and notice boards.</p>
<p>External recruitment could include: press advertising, posting on job sites and social media, and use of agencies and job centers.</p>
</li><li class="elementor-icon-list-item"><h3>Respond to applicants</h3>
<p>This recruitment stage usually involves sending out an application form. The firm may have a standard template for this.</p>
<p>Decide whether to ask for résumés or curriculum vitae (CV). While these may add to the paperwork, they can reveal insights about applicants.</p>
</li><li class="elementor-icon-list-item"><h3>Review applicants</h3>
<p>This step involves identifying applications that most closely match the job description and person specification.</p>
<p>If there are a lot of candidates, scoring them on their essential and desirable attributes may help.</p>
<p>However, you may also receive some &#8220;wildcards&#8221; that do not match. Don&#8217;t throw them out automatically &#8211; sometimes a little flexibility in your recruitment methods can pay off.</p>
</li><li class="elementor-icon-list-item"><h3>Prepare for and conduct the interview</h3>
<p>The review process should yield a list of candidates for further consideration.</p>
<p>In the interview, job seeker and prospective employer have an opportunity to test any impressions they have formed and to probe deeper.</p>
<p>Decide how to conduct the interview. Will it be a panel or one-to-one interview? Will it be on the phone, by video conference, or face-to-face?</p>
<p>Prepare a list of key questions and points; make sure these cover the essential and desirable items in the person specification. Check and follow up references.</p>
<p>Whether the encounter is remote or face-to-face, preparation is key to making the most of the time.</p>
</li><li class="elementor-icon-list-item"><h6>Virtual interviews</h6>
<p>During the coronavirus pandemic, technology giants such as Amazon and Google replaced in-person interviews with virtual interviews.</p>
<p>They set up portals where recruiters could meet with applicants, conduct interviews, and manage documentation.</p>
</li><li class="elementor-icon-list-item"><h3>Selection and rejection</h3>
<p>In this recruitment step you decide which one or two candidates are ideal for the post. Do you need to do a second interview?</p>
<p>Inform the unsuccessful candidates that that you are not offering them the job and give them the opportunity to receive feedback.</p>
<p>If you have any doubts, even about the best candidate, do not recruit. A bad hire can have serious consequences for your business.</p>
</li><li class="elementor-icon-list-item"><h3>Make the job offer</h3>
<p>Prepare the contract of employment and the job offer letter. These usually include details of salary, working hours, number of holidays, and main duties and responsibilities.</p>
<p>Depending on the role, there may also be other considerations, such as will the offer include a relocation package?</p>
<p>Then call the successful candidate with the good news. Give them a short period to accept. If they do not, then decide whether to offer the job to your next choice.</p>
</li><li class="elementor-icon-list-item"><h3>Induction and settling in</h3>
<p>The recruitment process does not end when the new employee walks through the door on their first day. The majority of those who leave their employers are new employees.</p>
<p>Induction is a series of steps that helps the new starter to settle into the job. It helps them to get to know the company and how it works. The process may last one day, or it may last several days.</p>
<p>At the very least, induction should cover the basics such as who is who, what rules there are, and what the job entails.</p>
<p>It should also include simple things such as making sure that someone is there to greet the new starter and introduce them to their work colleagues.</p>
<p>Some companies have a buddy system whereby an existing employee guides the new starter through their first few weeks in the firm.</p>
</li><li class="elementor-icon-list-item"><h3>Keeping an eye on the bigger picture</h3>
<p>To attract the best people, you need keep an eye on trends in your industry and the labor market. One trend to monitor is changes in the expectations of prospective employees. There may be strategic as well as tactical implications for your business.</p>
<p>For instance, a 2017 study looked at factors impacting the recruitment and retention of nursing staff in United States public health agencies.</p>
<p>The researchers found that employee autonomy and flexible working were among the factors likely to attract candidates from health care, education, and private sectors.</p>
<p>At the tactical level, agencies wishing to attract such candidates might be advised to highlight these factors when they recruit. At the strategic level, it might indicate a need to redesign jobs to incorporate the factors in the workplace.</p>
</li></ul>
</div>
</div>


<div class="elementor-text-editor elementor-clearfix"></div>

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online software development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking Software Development</li><li>RD, FD, MIS Software Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}