{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Remote  Proctored Exam</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Remote  Proctored Exam</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Remote Proctored Exam</h2>
        </div>
        <div class="row content">
          <div class="col-lg-4" data-aos="fade-right">

           <img src="{% static 'assets/img/woman_at_desk.jpg'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0" data-aos="fade-left">


           <p>R.D. Institute of systematic learning, Remote Online Proctored examination is a safe, secure and convenient way to schedule and sit for your certification exam. Earn a valuable R.D. Institute of systematic learning, certification from the convenience of your home or office!</p>
<p><em>Note:</em> due to an extensive, remote online proctored (RP) system upgrade, RP examination will be suspended September 10 through January 9.&nbsp; Because of this inconvenience, R.D. Institute of systematic learning, would like to extend a <b>25% discount</b> on certification application for RP examination, only, through December 31.&nbsp; How does it work?</p>
<ol start="1" type="1">
<li>Use the discount code <b>RPDiscount2022</b> when you apply</li>
<li>R.D. Institute of systematic learning, will process your application and send you an email confirming acceptance</li>
<li>Later, in early January, you will receive instructions on how to schedule your RP exam</li>
</ol>
<p>In the meantime, Test Center examination will continue uninterrupted.</p>
<p>Watch this brief video on a safe, secure and convenient R.D. Institute of systematic learning, Remote Online Proctored examination experience.</p>    <a href="#" class="btn btn-warning" role="button">

<span class="elementor-button-text">Get a Quote</span>

</a>
          </div>

</div>
      </div>
    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

<div class="row">
    <div class="col-sm-6"> <h3 class="video-heading">Remote Online Proctored Exam</h3><p>This video shows candidates what to expect during a remote proctored testing session.</p></div>
    <div class="col-sm-6"><div class="video-embed"><iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/5kidxdd0ry" width="400" height="225"></iframe></div></div>
</div>

          <div class="row">
              <div class="col-sm-12">
                  <h3 style="margin-top: 20px;">System Compatibility</h3>
                  <p>R.D. Institute of systematic learning, remote online proctored exams&#8239;require a desktop or laptop, a stable internet connection, Google Chrome browser, a working webcam, and microphone.</p>
<ul>
<li>Check system compatibility<strong>*</strong> here: <a href="https://syscheck.bridge.psiexams.com/" target="_blank">https://syscheck.bridge.psiexams.com/</a></li>
</ul>
<p><strong>*</strong>The System Compatibility Check currently checks only the webcam, microphone, browser, JavaScript and cookies. It does <u>not</u> check for prohibited systems, processes or software running in the background.&nbsp;</p>
<p>Only during candidate check-in will a security check be made for prohibited systems, processes or software.&nbsp; In the event prohibited systems, processes or software are detected, then the candidate will be required to disable them in order to proceed with check-in and exam launch.</p>
<p>Candidates will need to be able to install PSI&#8217;s Secure Browser on their computer to take the test, which may require permissions to install software. Therefore, candidates are advised to use their home computer, if their employer has strict controls on work computers.</p>
<p>Notes:</p>
<ul>
<li>Non-invasive remote access ensures proctors do not have access to a candidate&#8217;s personal computer.</li>
<li>While 1% of testing center examinations are unsuccessful due to technical issues, approximately 5% of Remote Online Proctored examinations are unsuccessful due to technical issues, including unstable internet connectivity, lack of bandwidth, out-of-date operating systems, unsupported devices, and webcam issues. Therefore, it is recommended that candidates&nbsp;conduct a <a href="https://syscheck.bridge.psiexams.com/" target="_blank">System Compatibility Check</a>&nbsp;on the device and internet they plan to use well in advance of their examination appointment.&nbsp;</li>
<li>In the event of an unsuccessful Remote Online Proctored examination, please follow the prompts for PSI assistance, and then contact R.D. Institute of systematic learning, Certification at <a href="mailto:certification@ashrae.org">certification@ashrae.org</a>&nbsp;for further assistance.&nbsp;</li>
</ul>
<p>See <a href="https://www.ashrae.org/professional-development/ashrae-certification/remote-proctoring/remote-online-proctored-faqs#system" title="System Compatibility FAQs">System Compatibility FAQs</a>.</p>
<hr>
<h3>Exam Scheduling</h3>
<p>Once your certification application has been approved (3-5 business days), you will receive a confirmation email from R.D. Institute of systematic learning, with instructions on how to schedule both a Remote Online Proctored exam and an exam at a PSI Testing Center.&nbsp; You may choose the exam delivery format you prefer.</p>
<p>See <a href="https://www.ashrae.org/professional-development/ashrae-certification/remote-proctoring/remote-online-proctored-faqs#reschedule" title="Exam Cancellation and Rescheduling FAQs">Exam Cancellation and Rescheduling FAQs</a></p>
<hr>
<h3>Identification Verification</h3>
<p>When checking in to their Remote Online Proctored exam, R.D. Institute of systematic learning, candidates will need to present a valid government-issued (either state, province or federal) identification card with current photograph and signature. <br> Note: an admission photo will be taken prior to the session</p>
<p>The name on the identification presented must match the name on your certification exam registration.</p>
<p>Acceptable forms of identification include: Driver's License, Identity card (non-driver license), Passport, Passport card, Green Card, Alien registration, Permanent resident card, or National identification card.</p>
<p>Military IDs are not accepted.</p>
<hr>
<h3>Starting Your Exam</h3>
<p><strong>Step 1: Login</strong><br> Create a PSI account if you do not already have one.&nbsp; Login to your PSI account.&nbsp; On the &#8220;My Certifications&#8221; click the &#8220;Schedule&#8221; button.&nbsp; This will take you automatically to the PSI exam scheduling page.</p>
<p><strong>Step 2: Before You Launch Your Exam</strong><br> Review the information on the PSI page including Security Procedures, Required Identification Documents and Exam Instructions and other information on the page to ensure you are set up for success to launch your exam.</p>
<p><strong>Step 3: Click the &#8220;Launch Exam&#8221; Button.</strong><br> Check in no earlier than 15 minutes prior to your examination start time, following the instructions on the screen. The proctor will then join the session.</p>
<hr>
<h3>Testing Environment</h3>
                  <div class="row">
                      <div class="col-sm-8"><p>An intuitive user interface and live chat assure a seamless and supported experience.</p>
<p>Ensure that you completely clear your desk or table of any materials, including all other electronic devices, and remove any notes or written materials from the walls of the room. Erase your whiteboard and take down any notes from the wall or monitor.</p>
<p>The wall behind you and opposite the monitor must be bare, empty of pictures, bookshelves or uncovered windows. A piece of furniture with closed drawers is permissible, but there may be no shelves or items on top of the piece of furniture. A window with curtains, shades or blinds pulled closed would be allowable, and it would be permissible to put a plain sheet over bookshelves so as to cover them up.</p>
<p>While all general R.D. Institute of systematic learning, examination rules apply during a Remote Online Proctored exam, additional rules are in place to ensure a secure examination, including the following:</p>
<ul>
<li>One (1) break up to five minutes long is allowed.&nbsp; The proctor must be notified and the testing time clock will continue to run. &nbsp;Upon return from the break, the candidate will be checked back into the exam.</li>
<li>Candidates may not use real paper as scratch paper.&nbsp; Instead, they may use a handheld, dry-erase lapboard and marker, which must be erased at the conclusion of the exam.</li>
</ul></div>
                      <div class="col-sm-4"><figure class="figure--right"><img src="{% static 'assets/img/man_at_desk-01.jpg' %}" alt></figure></div>
                  </div>


<p>See <a href="#" title="Testing Environment FAQs">Testing Environment FAQs</a>.</p>
<hr>
<h3>Exam Security</h3>
<p>The evidence shows that online proctoring can be as secure as physical test centers, and the quality<br> of the exam remains the same.</p>
<p>With and R.D. Institute of systematic learning, Remote Online Proctored exam, security is assured in the following ways:</p>
<ul>
<li><strong>Live check-in</strong></li>
<li><strong>Identity authentication</strong> measures, including biometric methods such as, facial recognition, digital identification scanning and writing sample comparison</li>
<li><strong>Environment scanning</strong> of the test taker's environment</li>
<li><strong>Lock-down browser</strong> - preventing candidates from using their computers to cheat</li>
<li><strong>Experienced proctors</strong> monitor audio and video, pause tests, revoke access, or end the test at any time if they witness potential misconduct (e.g. using a cell phone, unusual eye movements, removing oneself from the field of vision)</li>
</ul>
<p>See <a href="#">Exam Security FAQs</a></p>
<hr>
<h3>After Your Exam</h3>
<p>At the conclusion of their exam, candidates will be able to view their Pass or Fail result on their screen.&nbsp;</p>
<p>Within four weeks of their exam, candidates also will receive email notification from PSI Services that an unofficial Score Report is available for download.</p>
<p>Successful results are posted to the R.D. Institute of systematic learning, website by the 15th of the month following a candidate&#8217;s examination, by which time successful candidates also will be invited to download their R.D. Institute of systematic learning, certification <a href="https://www.ashrae.org/professional-development/ashrae-certification/ashrae-certification-badges">digital badge</a>.&nbsp;</p>

              </div>
          </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online software development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking Software Development</li><li>RD, FD, MIS Software Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}