{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Software Development Services</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Software Development Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Professional Software Development Services</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/soft.png'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
            <p>R. D. INSTITUTE OF SYSTEMATIC LEARNING (RDISL) offers the best effective solutions for any software development need.
              Our Software Development team works hand in hand to understand your each and every need. Our team will then
              develop a user-friendly Software that
              fulfill each of your requirement, fit with your company vision and help you to enhance the overall performance
              of your unit.</p>
          <a href="#" class="btn btn-warning" role="button">

<span class="elementor-button-text">Get a Quote</span>

</a>
          </div>
            <div class="col-lg-12 pt-4 pt-lg-0" style="margin-top:12px;">
             <div class="elementor-text-editor elementor-clearfix"><p>Team of Software Programmers &amp; developers at R. D. INSTITUTE OF SYSTEMATIC LEARNING is highly skilled, qualified and having wide experience of custom Software Development. Unless required, we avoid giving you a complex and costly business solutions or applications. Our goal is to provide the straight and simple Software Application which is easy to use, less complicated, effective and enhancing the overall business performance.</p>
<p>This is why, we are well known, reputed &amp; leading Software Development Company in the area, who provides the best effective, expert and affordable Customized Software Application.</p>
<p>As a reputed and professional Software Company, we maintain an everlasting, healthy &amp; friendly relationship with our customers. And to maintain this, we provide Point-to-Point and best affordable custom Software Applications &amp; Web applications for almost every type of businesses. We provide our best services and deliver best suitable Software Applications, covering wide scope of Industries, Educational sectors, Corporate, Small Business, Service Industries, Retailers, Traders, Manufacturers as well as Individuals.</p></div>




            <div class="elementor-element elementor-element-a203bf8 elementor-widget elementor-widget-text-editor" data-id="a203bf8" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><h6><span style="color: #062342;"><strong>Flexible Payment System</strong></span></h6><p>We supports flexible payment system by considering customers financial budget and requirements</p></div>
</div>
</div>
<section data-particle_enable="false" class="elementor-element elementor-element-ff846aa elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ff846aa" data-element_type="section" data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-element elementor-element-14ac95f elementor-column elementor-col-100 elementor-inner-column" data-id="14ac95f" data-element_type="column">
<div class="elementor-column-wrap  elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-6df6444 elementor-widget elementor-widget-heading" data-id="6df6444" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Time and Resource</h4> </div>
</div>
<div class="elementor-element elementor-element-41eac56 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="41eac56" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">Excellent system for such customers where requirements are unclear.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">Client needs to pay hourly rate of each resources.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">Here option for client is to add or reduce resources according to project scope and time.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">It is good for agile development.</span>
</li>
</ul>
</div>
</div>
<div class="elementor-element elementor-element-70ea0d5 elementor-widget elementor-widget-heading" data-id="70ea0d5" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Fixed Scope and Fix Budget</h4> </div>
</div>
<div class="elementor-element elementor-element-8340cac elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="8340cac" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">Must have predefined scope of requirements and it has to be done within specified time.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">Useful for such projects where requirements are known.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">Not applicable where requirements are not well defined.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text">Changes will be done on the basis of scope of work and time. List of custom software, system integrations, and software outsourcing projects we developed and delivered to our customers. Visit our demo and portfolio page for demo and screenshots of our projects.</span>
</li>
</ul>
</div>
</div>
<div class="elementor-element elementor-element-6245d60 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="6245d60" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text"><b>Highly qualified &amp; expert team of IT professionals &amp; developers - </b>Ensure to provide top quality, easy to use and effective Softwares &amp; applications.</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text"><b>Well Known and reputed IT Company</b> providing Various Business Solutions such as, customized Software Application Development, Web Development, Website designing, Search Engine Optimization (SEO), Bulk SMS Services and many more</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text"><b>Specialized in</b> Accounting Software, Trading Inventory, custom Inventory Application for Traders &amp; Manufacturers, ERP for School and Colleges, CRM for Corporate as well as SMEs, Mobile Applications, Web Applications for many businesses as well as individuals</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text"><b>Best Effective Solutions</b> for Business Promotions, Website Promotions, Online Advertising, Social Media and SEO</span>
</li>
<li class="elementor-icon-list-item">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="far fa-check-circle"></i> </span>
<span class="elementor-icon-list-text"><b>Transparent, Reliable and Flexible Payment Model</b></span>
</li>
</ul>
</div>
</div>


            </div>
            </div>
</div>
        </div>





      </div>
    </section><!-- End About Us Section -->


            </div>
</div>
      </div>
    </section>
<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What we can help you with</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Custom Software Development<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
Over the years, we have enriched and
optimized our system development life cycle to arrive at a predictable process that allows teams to minimize risks...</p>
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Web Application Development <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
Our web applications are marked by a robust, scalable architecture that supports high performance requirements and ease of management without compromising...

                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
             <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Mobile Application Development <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
We develop powerful applications that provide a thrilling experience for your users and bring tangible value to your
business. Whether native, hybrid...
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">QA and Software Testing <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                Rigorous testing and quality assurance help us deliver top-notch digital products, every time. Our QA team of 40+ experts is there to guarantee you...
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
           <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Test Automation <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
           Our AQA department comprises top test automation engineers with dozens of
projects under their belt. Backed by an internal automation framework...
                </p>
              </div>
            </li>

             <li data-aos="fade-up" data-aos-delay="500" >

            <i class="ri-check-double-line icon-help"></i>
             <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed" >Dedicated Development Center <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>

      <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
               We offer remote teams as a flexible and cost-effective option for companies who aim to quickly augment development resources and improve ROI...
                </p>
              </div>



            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>We are Expert in</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/software-development.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">We work on online software development and our products are already in use.</h5>
               <div class="elementor-text-editor elementor-clearfix"><p></p><ul><li>Banking Software Development</li><li>RD, FD, MIS Software Development</li><li>Nidhi Limited Company Software Development</li><li>Microfinance Limited Software Development</li><li>Multi Level Marketing Software Development</li><li>GST Software Development</li><li>School Management Software Development</li><li>Institute Management Software Development</li><li>e-Commerce Software Development</li><li>e-Education Software Development</li></ul>

           </div>

            </div>
          </div>

        </div>
          </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}