{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <br>
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Web Development & Design</h2>
          <ol>
            <li><a href="{%  url 'Home' %}">Home</a></li>
            <li>Web Development & Design</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Professional Website Designing Services Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Professional Website Designing Services</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">

           <img src="{% static 'assets/img/Web_Design_and_Development.jpg'%}" class="img-fluid" alt="about-us">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">


            <p class="fst-italic">
            <p>We are a website design company that understands complexity of businesses, and with our technical expertise, we help them transform and scale. For us, every relationship is built on trust and honesty. Before we start your website design, we work with the key individuals in your business to truly understand objectives you want to get by website. We provide services in all parts of India.</p></div>
</div>
        </div>





      </div>
    </section><!-- End About Us Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What we can help you with</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Responsive Website Design<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  We provide responsive web design solutions to promote engagement and deliver simple, intuitive and delightful experiences across all devices.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Content Management System <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
            We offer a wide range of Content Management Systems, including familiar names such as WordPress, Joomla, Drupal, Magento and loads more.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
             <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">User Experience Design <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
              We explore potential website design concepts for cross device experiences through wireframes and digital prototypes.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Hosting & Maintenance <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                 We offer great hosting packages with top-level service from our website design team. Or we can help deploy your website wherever you like, no worries
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
           <i class="ri-check-double-line icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Designing for Purpose <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                As a leading web design company in India, we understand the importance of designing for purpose in order to improve the user experience.
                </p>
              </div>
            </li>

             <li data-aos="fade-up" data-aos-delay="500" >

            <i class="ri-check-double-line icon-help"></i>
             <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed" >A User Centred Approach <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>

      <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
                Combining technical skills with creative solutions, we never stop looking for opportunities to build your internet presence.
                </p>
              </div>



            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Skills Section ======= -->
   <!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="contact section">
      <div class="container" data-aos="fade-up">
  <div class="section-title">
          <h2>Find opportunities right for you</h2>

        </div>

          <div class="row mt-5 justify-content-center aos-init aos-animate php-email-form" data-aos="fade-up">

          <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'assets/img/responsive-web-design-960x640-1-768x512.jpg'  %}" alt="img" class="img-fluid"> </div>
         <div class="col-sm-1"></div>
           <div class="col-sm-6">
<h5 class="elementor-heading-title elementor-size-default">Our website plans starts at just Rs.10,000/-</h5>
               <div class="elementor-text-editor elementor-clearfix"><p>We always welcome start ups and we offer great discounts to new entrepreneurs. Call us now for surprising offers.</p></div>

          <a href="" class="btn btn-warning">Call us Now</a>
           </div>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
{% endblock %}